body{
	text-align: center;
}
.snakeCanvas canvas{
	width: 300px;
	height: 150px;
	border: 2px solid red;
	background-color: #999;
}

.rulesGame .paused{
	display: none;
	font-size: 1.1em;
	font-weight: bold;
}

.show{
	display: inline !important;
}